@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NL-Job Listings</h1>
    <p>We offer you various categories of job listings within the south african border; Your next job could be a filter away</p>
</div>
